.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(236, 253, 255);
}
.card{
    width: 60%;
    display: flex;
    justify-content: space-between;align-items: center;
}
.left{
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    h1{
        font-size: 80px;
        font-weight: bold;
    }
    p{
        font-size: 19px;opacity: 0.6;
       width: 90%;
    }
    button{
         background: linear-gradient(16deg, rgb(255, 0, 90) 0%, rgb(255, 93, 45) 64%, rgb(255, 186, 0) 100%);
    border: none;
    font-size: 14px;
    color: white;
    padding: 20px 45px;
border-radius: 8px;
        }
}
.right{
    width: 62%;
}
@media screen and (max-width:568px) {
    .right{
        display: none;
    }.card{
        width: 100%;justify-content: center;
    }
    .left{
        width: 95%;
        h1{
            font-size: 35px;
        }
    }
}